/* ELEMENTOS QUE SE REPETEM EM TODOS OS LINKS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}


/* HEADER */

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: #2E948A;
    padding: 20px;
}

header .wrapper{
    /* quero so selecionar o wrapper dentro do header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 25px;
}

/* FOOTER */
footer{
    background-color: #2E948A;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
}

.menu-footer{
    display: flex;
    flex-direction: column;
}

.menu-footer a{
    margin: 3px;
    text-transform: lowercase;
    font-weight: 300;
}

.mais{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mais a{
    font-weight: 300;
    border: #fff 1px solid;
    padding: 9px 50px;
    border-radius: 30px;
}

@media (max-width: 767px){

    header .wrapper{
        justify-content: center;
    }


    footer .wrapper{
        text-align: center;
        justify-content: center;
    }

    .menu-footer{
        display: inline;
        padding: 30px;
    }
}
